<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirstRowInExcel" value="7"></add>
    <add key="Header_EN_Path" value="C:\FILE\HEADER_EN.HTML"></add>
    <add key="Header_FR_Path" value="C:\FILE\HEADER_FR.HTML"></add>
    <add key="Footer_Path" value="C:\FILE\FOOTER.HTML"></add>
    <add key="Translate_XML" value="C:\TRANSLATE.XML"></add>
    <add key="GeneratedFilePath_EN" value="C:\Default.html"></add>
    <add key="GeneratedFilePath_FR" value="C:\Default_fr.html"></add>
    <add key="ExcelSheetIndexNumbers" value="2,3,5,6,7,8,9,12,10,21"/>
  </appSettings>
</configuration>